
/* --------------------------------------------
    Default Fonts & Fonts Styles
 ---------------------------------------------- */

/* Global */
html {

}
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text);
  background-color: var(--body);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
*:focus {
  box-shadow: none !important; /* bootstrap focus outline fix */
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: var(--header);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  color: var(--header);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

p {
  margin: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
}
.label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.card {
  transition:all ease .5s
}
 /* Select2 start */
.select2-container--default .select2-selection .select2-selection__choice {
  font-size: 14px;
}
.select2-container--default .select2-selection--multiple {
  height: 38px;
}
/* Select2 end */

.form-control {
  background-color: #fff;
  border: 1px solid #b1b5c3;
  height: 40px;
  color: #260944;
  font-size: 15px;
  padding: 10px 10px;
  width: 100%;
  transition: all ease .5s;
  border-radius: 5px;
}
.form-control::placeholder {
  color:#a9a9c8;
  font-size:15px
}
.form-control:focus {
  background-color:#fff;
  box-shadow:unset;
  outline:0;
  border:1px solid #757fef;
  color:#a9a9c8
}
.form-control.form-select {
  cursor:pointer;
  color:#5e5e65
}
.form-control.file {
  padding-top:12px
}
textarea.form-control {
  height:auto
}
textarea.form-control {
  min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2));
}
.form-check {
  margin-bottom:0
}
.form-check .form-check-input {
  border-color:#a9a9c8
}
.form-check .form-check-input:focus {
  box-shadow:none;
  border-color:#757fef
}
.form-check .form-check-input:checked[type=checkbox] {
  border-color:#757fef
}
.form-check .form-check-label {
  padding-left:5px
}
.nav-tabs .nav-link {
  font-size: 14px;
}
.content-area {
  padding-top: 30px;
  padding-bottom: 70px;
}
.admin-bar .offcanvas.offcanvas-end {
  top: 32px;
}
.error {
  color: red;
}
.validation_error_message ul {
  list-style-type: disc;
  padding-left: 30px;
  padding-bottom: 10px;
}
.offcanvas .validation_error_message ul {
  list-style-type: disc;
  padding-left: 15px;
  padding-bottom: 15px;
}
.offcanvas .validation_error_message ul li, .validation_error_message ul li {
  font-size: 15px;
}
#toast-container > div {
  box-shadow: none;
  opacity: 1;
}

/* Header */
.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-1 .header-logo img {
  width: 150px;
}

@media (max-width: 667px) {
  .header-1 .header-logo img {
    margin-top: -45px;
    margin-left: -30px;
  }
}
.header-main .header-right .header-button {
  padding-right: 50px;
}
.header-main .main-menu ul {
  margin-bottom: 0;
}

.header-main .main-menu ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  -webkit-margin-end: 30px;
          margin-inline-end: 30px;
}

.header-main .main-menu ul li:last-child {
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

.header-main .main-menu ul li a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: var(--theme);
  padding: 30px 0;
  text-align: left;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.header-main .main-menu ul li a i {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.header-main .main-menu ul li a:hover {
  color: var(--theme2) !important;
}

.header-main .main-menu ul li .sub-menu {
  position: absolute;
  top: 100%;
  inset-inline-start: 0;
  min-width: 240px;
  background: var(--white);
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  color: var(--theme);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.header-main .main-menu ul li .sub-menu li {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header-main .main-menu ul li .sub-menu li a {
  position: relative;
  z-index: 11;
  color: var(--theme);
  font-weight: 500;
  font-size: 14px;
  padding: 0 25px;
  padding-bottom: 11px;
  padding-top: 11px;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.header-main .main-menu ul li .sub-menu li:last-child a {
  border: none;
}

.header-main .main-menu ul li .sub-menu li .sub-menu {
  inset-inline-start: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.header-main .main-menu ul li .sub-menu li:hover > a {
  background: #ECECEC;
}

.header-main .main-menu ul li .sub-menu li:hover > a::after {
  color: var(--theme2);
}

.header-main .main-menu ul li .sub-menu li:hover > .sub-menu {
  -webkit-transform: translateY(1);
  transform: translateY(1);
  visibility: visible;
  opacity: 1;
}

.header-main .main-menu ul li .sub-menu li.menu-item-has-children > a::after {
  position: absolute;
  top: 50%;
  inset-inline-end: 25px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--theme);
}

.header-main .main-menu ul li:hover > a {
  color: var(--theme);
}

.header-main .main-menu ul li:hover > a::after {
  color: var(--theme);
}

.header-main .main-menu ul li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
}

.header-1 {
  position: relative;
  z-index: 99;
  overflow-x: clip;
  background: var(--white);
}

.header-1 .header-logo {
  position: absolute;
  top: 25%;
  left: 45px;
}

.header-1 .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 240px;
  padding-left: 50px;
}

@media (max-width: 1199px) {
  .header-1 .header-main {
    border: none;
  }
}

.header-1 .bar-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  font-size: 22px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.header-1 .header-right {
  gap: 20px;
}

@media (max-width: 1199px) {
  .header-1 .header-right .header-button {
    display: none;
  }
}

.header-1 .header-right .header__hamburger .sidebar__toggle .bar-icon {
  padding: 25px;
  width: 80px;
  height: 80px;
  line-height: 80px;
}


.offcanvas__info {
  background: var(--white) none repeat scroll 0 0;
  border-left: 2px solid var(--theme2);
  position: fixed;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  -webkit-transform: translateX(calc(100% + 80px));
  transform: translateX(calc(100% + 80px));
  -webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
  -webkit-transition: opacity 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  transition: opacity 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
  z-index: 99999;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scrollbar-width: none;
}

.offcanvas__info::-webkit-scrollbar {
  display: none;
}

.offcanvas__info.info-open {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.offcanvas__logo a img {
  width: 150px;
}

.offcanvas__wrapper {
  position: relative;
  height: 100%;
  padding: 30px 30px;
}

.offcanvas__wrapper .offcanvas__content .text {
  color: var(--text);
}

.offcanvas__wrapper .offcanvas__content .offcanvas__close {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--theme2);
}

.offcanvas__wrapper .offcanvas__content .offcanvas__close i {
  color: var(--white);
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact {
  margin-top: 20px;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact ul {
  margin-top: 30px;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact ul li:not(:last-child) {
  margin-bottom: 15px;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact ul li .offcanvas__contact-icon {
  margin-right: 20px;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact ul li .offcanvas__contact-icon i {
  color: var(--theme2);
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact .header-button .theme-btn {
  width: 100%;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact .social-icon {
  margin-top: 40px;
  gap: 10px;
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact .social-icon a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  display: block;
  background: transparent;
  color: var(--theme);
  border-radius: 50%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-align: center;
  border: 1px solid var(--border2);
}

.offcanvas__wrapper .offcanvas__content .offcanvas__contact .social-icon a:hover {
  background-color: var(--theme2);
  color: var(--white);
}

.offcanvas__overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #151515;
  z-index: 900;
  top: 0;
  opacity: 0;
  visibility: hidden;
  right: 0;
}

.offcanvas__overlay.overlay-open {
  opacity: 0.8;
  visibility: visible;
}

@media (max-width: 450px) {
  .offcanvas__info {
    width: 300px;
  }
}

@media (max-width: 575px) {
  .offcanvas__wrapper {
    padding: 20px;
  }
}




.breadcrumb-wrapper {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.breadcrumb-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(17, 17, 17, 0.8)), to(rgba(155, 155, 155, 0.1)));
  background-image: linear-gradient(90deg, rgba(17, 17, 17, 0.8) 0%, rgba(155, 155, 155, 0.1) 100%);
}

.breadcrumb-wrapper .page-heading {
  position: relative;
  padding-top: 300px;
  padding-bottom: 215px;
}

@media (max-width: 1199px) {
  .breadcrumb-wrapper .page-heading {
    padding-top: 220px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper .page-heading {
    padding-top: 160px;
    padding-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .breadcrumb-wrapper .page-heading {
    padding-top: 130px;
    padding-bottom: 30px;
  }
}

.breadcrumb-wrapper .page-heading .icon-shape {
  position: absolute;
  bottom: 18%;
  left: 30%;
}

@media (max-width: 1199px) {
  .breadcrumb-wrapper .page-heading .icon-shape {
    display: none;
  }
}

.breadcrumb-wrapper .page-heading span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white);
  position: relative;
  z-index: 9;
}

.breadcrumb-wrapper .page-heading span img {
  margin-right: 5px;
}

.breadcrumb-wrapper .page-heading h1 {
  color: var(--white);
  font-size: 80px;
  position: relative;
  z-index: 9;
  margin-top: 15px;
}

@media (max-width: 1199px) {
  .breadcrumb-wrapper .page-heading h1 {
    font-size: 52px;
    margin-top: 5px;
  }
}

@media (max-width: 991px) {
  .breadcrumb-wrapper .page-heading h1 {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper .page-heading h1 {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .breadcrumb-wrapper .page-heading h1 {
    font-size: 32px;
  }
}

.breadcrumb-wrapper .page-heading h1 span {
  font-size: 60px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .breadcrumb-wrapper .page-heading h1 span {
    font-size: 48px;
  }
}

@media (max-width: 767px) {
  .breadcrumb-wrapper .page-heading h1 span {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  .breadcrumb-wrapper .page-heading h1 span {
    font-size: 32px;
  }
}

.breadcrumb-wrapper .breadcrumb-items {
  padding: 30px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}

@media (max-width: 575px) {
  .breadcrumb-wrapper .breadcrumb-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.breadcrumb-wrapper .breadcrumb-items li {
  font-size: 16px;
  color: var(--white);
  text-transform: uppercase;
}

.breadcrumb-wrapper .breadcrumb-items li a {
  color: #ffffffb3;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.breadcrumb-wrapper .breadcrumb-items li a:hover {
  color: var(--theme2);
}

.breadcrumb-wrapper .breadcrumb-items li i {
  font-weight: 400;
  font-size: 16px;
}

.breadcrumb-wrapper .breadcrumb-items .text {
  text-decoration: underline;
}

.breadcrumb-wrapper.error-page {
  height: 100vh;
}

.breadcrumb-wrapper.error-page .page-heading {
  padding: 250px 0;
}

.breadcrumb-wrapper.error-page .page-heading h1 {
  font-size: 200px;
  color: var(--white);
  text-transform: uppercase;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
  -webkit-text-fill-color: transparent;
}

@media (max-width: 991px) {
  .breadcrumb-wrapper.error-page .page-heading h1 {
    font-size: 150px;
  }
}

@media (max-width: 575px) {
  .breadcrumb-wrapper.error-page .page-heading h1 {
    font-size: 80px;
  }
}

.breadcrumb-wrapper.error-page .page-heading h3 {
  color: var(--white);
}

.breadcrumb-wrapper.coming-page {
  height: 100vh;
}

.breadcrumb-wrapper.coming-page .page-heading ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  max-width: 650px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
}

@media (max-width: 1199px) {
  .breadcrumb-wrapper.coming-page .page-heading ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.breadcrumb-wrapper.coming-page .page-heading ul li span {
  font-size: 42px;
  color: var(--white);
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: 3px solid var(--border2);
  display: inline-block;
}

@media (max-width: 1199px) {
  .breadcrumb-wrapper.coming-page .page-heading ul li span {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
  }
}

.breadcrumb-wrapper.coming-page .page-heading ul li p {
  color: var(--white);
  margin-top: 10px;
  text-transform: uppercase;
}

.breadcrumb-wrapper.coming-page .page-heading .form {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}

.breadcrumb-wrapper.coming-page .page-heading .form input {
  color: var(--text);
  width: 100%;
  padding: 19px 35% 19px 30px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
}

.breadcrumb-wrapper.coming-page .page-heading .form .button-area {
  position: absolute;
  top: 0;
  right: 0;
}

.breadcrumb-wrapper.coming-page .page-heading .form .button-area .theme-btn {
  padding: 25px 45px;
}

@media (max-width: 575px) {
  .breadcrumb-wrapper.coming-page .page-heading h1 {
    font-size: 36px;
  }
}

/* MeanMenu */
.mean-container a.meanmenu-reveal {
  display: none;
}

.mean-container .mean-nav {
  background: none;
  margin-top: 0;
}

.mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}

.mean-container .mean-nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}

.mean-container a.meanmenu-reveal {
  display: none !important;
}

.mean-container .mean-nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: var(--theme);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  border-top: 1px solid var(--border2);
}

.mean-container .mean-nav ul li a:last-child {
  border-bottom: 0;
}

.mean-container .mean-nav ul li a:hover {
  color: var(--theme2);
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 5px;
  padding: 0 !important;
}

.mean-container .mean-nav ul li > a > i {
  display: none;
}

.mean-container .mean-nav ul li > a.mean-expand i {
  display: inline-block;
}

.mean-container .mean-nav > ul > li:first-child > a {
  border-top: 0;
}

.mean-container .mean-nav ul li a.mean-expand.mean-clicked i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.mean-container .mean-nav ul li .mega-menu li a {
  height: 200px;
  width: 100%;
  padding: 0;
  border-top: 0;
  margin-bottom: 20px;
}
/* End MeanMenu */

/* Data Table */
.default-table-area .table-responsive .table thead tr th {
  background-color: #f7faff;
  color: #5b5b98;
  font-weight: 600;
  font-size: 15px;
  padding: 15px 25px;
  position: relative;
  border: none;
}
.table > :not(caption) > * > * {
  padding: .5rem;
  color: var(--bs-table-color-state,var(--bs-table-color-type,var(--bs-table-color)));
  background-color: var(--bs-table-bg);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--bs-table-bg-type,var(--bs-table-accent-bg)));
}
thead, tbody, tfoot, tr, td, th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  font-size: 15px;
}
.default-table-area .table-responsive .table tbody tr td {
  background-color: transparent;
  font-size: 15px;
  color: #5b5b98;
  border-color: #f7faff;
  padding: 15px 25px;
}
div.dataTables_wrapper div.dataTables_info {
  font-size: 15px;
}
.disabled > .page-link, .page-link.disabled {
  font-size: 15px;
}

/* Footer section */
.footer-section {
  background: var(--theme);
  color: var(--white);
  padding: 20px;
}
.footer-section .copyright a {
  color: var(--white);
}

/*Feather icon sizes*/
.feather-20 {
  width: 20px;
  height: 20px;
}
.feather-24 {
  width: 24px;
  height: 24px;
}
.feather-32 {
  width: 32px;
  height: 32px;
}